*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(235, 235, 235);
}

header{
    /* 100% de largura */
    width: 100%;
    /* site com borda */
    /* width: 1200px */
    /* margin 0px auto */
    height: 40px;
    padding: 10px 0px;
    background-color: rgb(152, 123, 93);
    text-align: center;
    
}


#logo{
    width: 40px;
    height: 30px;
    margin: auto 20px;
    background-color: black;
    
    overflow:hidden;
    float: left;
}

#logo img{
    width: 100%;
    height: 100%;
}


nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: center;
    
    background-color:wheat
}

a{
    text-decoration: none;
    margin: 0px 6px;
    
    color: brown;
    padding: 0px 15px;
    border-radius: 5px;
}



main{
    width: 90%;
    background-color:white;
    padding: 20px;
    margin:  20px auto;
    border-radius: 20px;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#banner{
    width: 100%;
    height: 400px;
    margin: 10px 10px;
    background-image: url(../styles/images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#banne img{
    width: 100%;
    height: 100%;
}
