




main{
    width: 90%;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    margin:  20px auto;
    border-radius: 20px;
    box-shadow: black 6px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color:rgb(56, 150, 233) ;
    text-align: center;
}

#banner{
    width: 100%;
    height: 400px;
    margin: 10px 0px;
    background-image: url(../images/gurren\ laggan\ retangulo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

h3{
    font-size: 20px;
}

